.choice {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.choice:global(.isLast) {
  border-bottom: 1px solid grey;
}

.choiceName {
  flex-basis: 35%;
}

.choiceVotes {
  text-align: center;
}
